header {
    background-image: url(/imagenes/fondo-cabecera.jpg); /*no olvidar poner la / inicial en la ruta*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav {
    background: rgb(118, 191, 118);
    text-align: center;
}
article {
    font-weight: bold;
    border:2px solid rgb(118, 191, 118);
    padding: 10px;
}
#destacados {
   width: 100%;
   height: 150px;
}
#centro {
   width:100%;
   height: 400px;
}
button {
    padding:6px;
    border-radius:50%;
    background-color:white;
    border:2px solid rgb(28, 180, 15);
    color:rgb(28, 180, 15);
}
footer {
      background: rgb(118, 191, 118);
      padding:20px;
      text-align: right;
      height: 40px;
}
article, aside {
  text-align: justify;
}